<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://chrischoo.com">Christopher's Blog</a> by Christopher
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>